<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= name %> Tutorial, version  <%= version %> </title>
    <style>
        *{ margin: 0; box-sizing: border-box;}
        body{
            font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .container{
            max-width: 1200px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <%- include('header'); %>
        <p>  <% if (user) { %>
            <p><%= user.name %></h2>
            <p><%= user.id %></h2>
        <% } %>   </p>
        <ol>
            <% month.forEach(function(name) { %>
                <li><%= name %></li>
            <% }); %>
        </ol>
        <%- include('footer'); %>
    </div>
</body>
</html>